<div class="mortgageCalculator">
  <div class="mortgage_inputForm row">
    <div class="payment_inputForm col">
      <h1> Payment Plan</h1>
      <mat-form-field appearance="fill">
          <mat-label>Mortgage Amount ($)</mat-label>
          <input matInput>
      </mat-form-field>
      <div class="col5">
        <mat-form-field appearance="fill">
          <mat-label>Interest Rate (%)</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Payment Frequency</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="AccW">Accelerated Weekly</mat-option>
            <mat-option value="W">Weekly</mat-option>
            <mat-option value="AccBiW">Accelerated Bi-weekly</mat-option>
            <mat-option value="BiW">Bi-Weekly (every 2 weeks)</mat-option>
            <mat-option value="SemiM">Semi-monthly (24x per year)</mat-option>
            <mat-option value="M">Monthly (12x per year)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <span>Amortization Period :</span>
      <div class="yearsAndMonths col5">
        <mat-form-field appearance="fill">
          <mat-label>Years</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let num of yearsOptions" [value]="num">
              {{num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Months</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let num of monthsOptions" [value]="num">
              {{num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Term</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let num of termsOptions" [value]="num">
            {{num}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="prePayment_inputForm col">
      <h1> PrePayment Plan</h1>
      <mat-form-field appearance="fill">
          <mat-label>Prepayment Amount ($)</mat-label>
          <input matInput>
      </mat-form-field>
      <div class="col5">
        <mat-form-field appearance="fill">
          <mat-label>Prepayment Frequency</mat-label>
          <mat-select>
            <mat-option value="1">One time</mat-option>
            <mat-option value="Y">Each year</mat-option>
            <mat-option value="SameAsRegPay">Same as regular</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Start With Payment</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
